@import 'base/base';

* { box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: 'Montserrat', sans-serif;
}
  
.content {
    max-width: 1000px;
    margin: auto;
    }

.nav__style{
    font-weight: bold;
    a:hover{
        color:#80FFE3;

    }
}

.nav-link {
    color: #80FFE3;
}
.navbar-brand {
    color: #80FFE3;
}
.header__style {
    height: 100vh;
    max-width: 100%;
    .row{
        .upper {
            color: #C8C8C8;
        }
        .col-lg-12{
            .text{
                line-height: 105px;
                font-weight: bold;
                
            }
            .text:hover{
                color:#80FFE3;
            
            }

        }
    }
}

#about {
    .img-fluid {
        max-width:400px;
        max-height: 400px;
        border-radius: 50%;
    }
}

// font aweseome website
#skills {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: 100vh;      
    } 
    .circle_skill {
        border-radius: 50%;
        width: 240px;
        height: 240px;
        background-color: #80FFE3;
        color: #1a1b1f;
        margin: 20px 10px 20px 10px;
        font-size: 20px;
        padding-top: 65px;

        p {
        text-align: center;
        }
    }
}

#portfolio {
    min-height: 100vh;
}

#contact{
    padding: 150px;
    min-height: 100vh;

    .button__style {
        background-color: #80FFE3;
        border: none;
    } 
    .error {
        color: red;
    }    
 }

.connect__style{
    font-size: 30px;
    font-weight: bold;
}

.footer__style {
    color:#1a1b1f;
}

.footer__style{
    .row{
        .awesomepictures{
           font-size: 40px;

            }

        }
    }
